In [ ]:
import pandas as pd

In [ ]:
jamkes = pd.read_csv("Jaminan Kesehatan Jabar.xlsx - data.csv")
jamkes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216 entries, 0 to 215
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   216 non-null    int64
 1   kode_provinsi        216 non-null    int64
 2   nama_provinsi        216 non-null    object
 3   kode_kabupaten_kota  216 non-null    int64
 4   nama_kabupaten_kota  216 non-null    object
 5   jaminan_kesehatan    216 non-null    object
 6   jumlah_penduduk      216 non-null    int64
 7   satuan               216 non-null    object
dtypes: int64(4), object(4)
memory usage: 13.6+ KB

In [ ]:
jamkes

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jaminan_kesehatan,jumlah_penduduk,satuan
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,PENERIMA BANTUAN IURAN (PBI) APBN,1119615,JIWA
1,2,32,JAWA BARAT,3201,KABUPATEN BOGOR,PENERIMA BANTUAN IURAN (PBI) APBD,546641,JIWA
2,3,32,JAWA BARAT,3201,KABUPATEN BOGOR,PEKERJA PENERIMA UPAH (PPU),792374,JIWA
3,4,32,JAWA BARAT,3201,KABUPATEN BOGOR,PEKERJA BUKAN PENERIMA UPAH (PBPU) / MANDIRI,999677,JIWA
4,5,32,JAWA BARAT,3201,KABUPATEN BOGOR,BUKAN PEKERJA (BP),58725,JIWA
...,...,...,...,...,...,...,...,...
211,212,32,JAWA BARAT,3279,KOTA BANJAR,PEKERJA BUKAN PENERIMA UPAH (PBPU) / MANDIRI,20395,JIWA
212,213,32,JAWA BARAT,3279,KOTA BANJAR,BUKAN PEKERJA (BP),4308,JIWA
213,214,32,JAWA BARAT,3279,KOTA BANJAR,JAMKESDA,11044,JIWA
214,215,32,JAWA BARAT,3279,KOTA BANJAR,ASURANSI SWASTA,0,JIWA
215,216,32,JAWA BARAT,3279,KOTA BANJAR,ASURANSI PERUSAHAAN,0,JIWA

In [ ]:
faskes = pd.read_csv("Jumlah Faskes Jabar.xlsx - data.csv")
faskes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   270 non-null    int64
 1   kode_provinsi        270 non-null    int64
 2   nama_provinsi        270 non-null    object
 3   kode_kabupaten_kota  270 non-null    int64
 4   nama_kabupaten_kota  270 non-null    object
 5   jenis_faskes         270 non-null    object
 6   jumlah_faskes        270 non-null    int64
 7   satuan               270 non-null    object
dtypes: int64(4), object(4)
memory usage: 17.0+ KB

In [ ]:
faskes

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jenis_faskes,jumlah_faskes,satuan
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,RUMAH SAKIT UMUM,9,UNIT
1,2,32,JAWA BARAT,3201,KABUPATEN BOGOR,RUMAH SAKIT KHUSUS,0,UNIT
2,3,32,JAWA BARAT,3201,KABUPATEN BOGOR,RUMAH SAKIT BERSALIN,0,UNIT
3,4,32,JAWA BARAT,3201,KABUPATEN BOGOR,PUSKESMAS,62,UNIT
4,5,32,JAWA BARAT,3201,KABUPATEN BOGOR,POSYANDU,4927,UNIT
...,...,...,...,...,...,...,...,...
265,266,32,JAWA BARAT,3279,KOTA BANJAR,RUMAH SAKIT UMUM,3,UNIT
266,267,32,JAWA BARAT,3279,KOTA BANJAR,RUMAH SAKIT KHUSUS,0,UNIT
267,268,32,JAWA BARAT,3279,KOTA BANJAR,RUMAH SAKIT BERSALIN,0,UNIT
268,269,32,JAWA BARAT,3279,KOTA BANJAR,PUSKESMAS,10,UNIT
269,270,32,JAWA BARAT,3279,KOTA BANJAR,POSYANDU,0,UNIT